{
  "openapi" : "3.1.0",
  "info" : {
    "title" : "Provider and User Data APIs",
    "description" : "<table>\n    <tr>\n        <td colspan=\"100%\" padding-top=\"0px\" padding-bottom=\"0px\">\n            <b>This API enables seamless access to comprehensive details about provider firms, their offices, associated\n                users, and internal user. </b>\n        </td>\n    </tr>\n    <tr>\n        <td colspan=\"50%\" padding-right=\"50px\">\n            <b>Provider Firm Overview</b>\n            <ul>\n                <li>High-level information about the provider firm.</li>\n                <li>Details about all offices linked to the provider firm.</li>\n                <li>Information on users and fee earners associated with the provider firm.</li>\n            </ul>\n            <b>Provider Office Details</b>\n            <p>Key information about individual offices, including:</p>\n            <ul>\n                <li>Bank account details.</li>\n                <li>Contract and schedule details.</li>\n                <li>NMS authorizations.</li>\n                <li>Users associated with each office.</li>\n            </ul>\n            <b>Provider User Details</b>\n            <p>Granular information about individual users, including:</p>\n            <ul>\n                <li>User roles.</li>\n                <li>Associations with provider offices.</li>\n            </ul>\n            <b>Useful Links</b>\n            <ul>\n                <li>\n                    <a href=\"https://dsdmoj.atlassian.net/wiki/spaces/PDA/pages/4737466388/PDA+Runbook\" target=\"_blank\" rel=\"noopener noreferrer\">Runbook</a>\n                </li>\n                <li>\n                    <a href=\"https://mojdt.slack.com/archives/C06F768A3F1\" target=\"_blank\" rel=\"noopener noreferrer\">Slack Channel</a>\n                </li>\n                <li>\n                    <a href=\"https://grafana.live.cloud-platform.service.justice.gov.uk/dashboards?query=provider%20details%20api\" target=\"_blank\" rel=\"noopener noreferrer\">Grafana Dashboards</a>\n                </li>\n                <li>\n                    <a href=\"https://github.com/ministryofjustice/laa-data-provider-data\" target=\"_blank\" rel=\"noopener noreferrer\">Github Source Code</a>\n                </li>\n            </ul>\n        </td>\n        <td colspan=\"50%\" padding-left=\"50px\"  horizontal-align=\"right\"><img src=\"/images/firmhierarchy.png\"/></td>\n    </tr>\n</table>\n\n<br>\n<b>This service is under active development and is deployed frequently.</b><br>\n    While we strive not to change endpoint contracts, we may deprecate existing endpoints and introduce new ones.\n    Please check the Swagger page regularly for up-to-date information.\n\n\n",
    "version" : "0.12.1"
  },
  "servers" : [ {
    "url" : "https://laa-provider-details-api-preprod.apps.live.cloud-platform.service.justice.gov.uk",
    "description" : "Generated server url"
  } ],
  "security" : [ {
    "ApiKeyAuth" : [ ]
  } ],
  "tags" : [ {
    "name" : "Provider Users Endpoints",
    "description" : "These are UTILITY ENDPOINTS for getting provider user information when only have a user-login but you don't have a provider firm id. This allows you to find firm with which provider user is associated and using that you can find more details related to provider firm."
  }, {
    "name" : "Provider Firm Offices",
    "description" : "These are UTILITY ENDPOINTS for getting office information when only have office code but you don't have a provider firm id. This allows you to find firm with which office is associated and using that you can find more details related to provider firm."
  }, {
    "name" : "Admin Controller Endpoints",
    "description" : "These are UTILITY ENDPOINTS ONLY FOR ADMINS."
  } ],
  "paths" : {
    "/provider-offices" : {
      "post" : {
        "tags" : [ "Provider Firm Offices" ],
        "summary" : "Get all provider(firm) offices(sites) details based on a list of office(site) codes. Max limit 1000.",
        "description" : "    Business Rules: - Firm is not end dated.\n                    - Firm is of type Legal Services Provider / Advocate / Chambers.\n                    - Firms of type Individual / QM Provider are NOT considered.\n                    - Firm Office is not end dated.\n                    - This DOES NOT check if a provider office has an active contract.\n",
        "operationId" : "getOffices",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/OfficeCodesDto"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "List of valid provider (firm) offices (sites) details",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProviderFirmOfficeListDto"
                }
              }
            }
          },
          "204" : {
            "description" : "No Content - No valid provider (firm) offices (sites) exist based on search criteria"
          },
          "409" : {
            "description" : "Conflict - Ex Cache being Loaded"
          },
          "500" : {
            "description" : "Internal Server Error - Something went wrong"
          }
        }
      }
    },
    "/admin/logging/enable-tracing" : {
      "post" : {
        "tags" : [ "Admin Controller Endpoints" ],
        "summary" : "Change logging level dynamically to TRACE to aid in debugging.Make sure this is done on all pods.",
        "operationId" : "enableQueryDebugging",
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "*/*" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        }
      }
    },
    "/admin/logging/disable-tracing" : {
      "post" : {
        "tags" : [ "Admin Controller Endpoints" ],
        "summary" : "Change logging level dynamically to INFO to disable debugging.Make sure this is done on all pods.",
        "operationId" : "disableQueryDebugging",
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "*/*" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        }
      }
    },
    "/admin/cache/force-reload" : {
      "post" : {
        "tags" : [ "Admin Controller Endpoints" ],
        "summary" : "Force cache reload. Apply maintenance page before doing this otherwise it can cause side-effects / race conditions.",
        "operationId" : "forceCacheReload",
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "*/*" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        }
      }
    },
    "/provider-users/{userLogin}" : {
      "get" : {
        "tags" : [ "Provider Users Endpoints" ],
        "summary" : "Get a provider(firm) user details based on user login",
        "description" : "    Business Rules: - Firm is not end dated.\n                    - Firm is of type Legal Services Provider / Advocate / Chambers.\n                    - Firms of type Individual / QM Provider are NOT considered.\n                    - User attribute_code is 'ICX_SUPPLIER_ORG_ID'\n                    - User attribute_code of these values ('ICX_HR_PERSON_ID', 'ICX_SUPPLIER_SITE_ID')\n                        are not considered as firm contacts.\n",
        "operationId" : "getProviderUserDetailsByUserLogin",
        "parameters" : [ {
          "name" : "userLogin",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Details of provider (firm) user",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProviderFirmUserDto"
                }
              }
            }
          },
          "204" : {
            "description" : "No Content - No active user exists based on search criteria"
          },
          "409" : {
            "description" : "Conflict - Ex Cache being Loaded"
          },
          "500" : {
            "description" : "Internal Server Error - Something went wrong"
          }
        }
      }
    },
    "/provider-users/{userLogin}/provider-offices" : {
      "get" : {
        "tags" : [ "Provider Users Endpoints" ],
        "summary" : "Get list of office codes associated with provider(firm) user based on user login",
        "description" : "    Business Rules: - Firm is not end dated.\n                    - Firm is of type Legal Services Provider / Advocate / Chambers.\n                    - Firms of type Individual / QM Provider are NOT considered.\n                    - Firm office is not end dated.\n                    - User attribute_code is 'ICX_SUPPLIER_ORG_ID'\n                    - User attribute_code of these values ('ICX_HR_PERSON_ID', 'ICX_SUPPLIER_SITE_ID')\n                        are not considered as firm contacts.\n                    - Firm Office is not end dated.\n                    - For the Provider User Office links only create one per Office where the Provider User\n                        has no restrictions (All option), or one for each Office that the User is restricted to.\n",
        "operationId" : "getProviderUsersOffices",
        "parameters" : [ {
          "name" : "userLogin",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Details of provider (firm) user offices",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProviderFirmUserOfficeListDto"
                }
              }
            }
          },
          "204" : {
            "description" : "No Content - No active office codes exist for the user"
          },
          "409" : {
            "description" : "Conflict - Ex Cache being Loaded"
          },
          "500" : {
            "description" : "Internal Server Error - Something went wrong"
          }
        }
      }
    },
    "/provider-users/exists" : {
      "get" : {
        "tags" : [ "Provider Users Endpoints" ],
        "summary" : "Get a provider(firm) user details based on user email, This is case insensitive search",
        "description" : "    Business Rules: - Firm is not end dated.\n                    - Firm is of type Legal Services Provider / Advocate / Chambers.\n                    - Firms of type Individual / QM Provider are NOT considered.\n                    - User attribute_code is 'ICX_SUPPLIER_ORG_ID'\n                    - User attribute_code of these values ('ICX_HR_PERSON_ID', 'ICX_SUPPLIER_SITE_ID')\n                        are not considered as firm contacts.\n",
        "operationId" : "getProviderUsersByUserEmail",
        "parameters" : [ {
          "name" : "userEmail",
          "in" : "query",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Details of provider (firm) users",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProviderFirmUserListDto"
                }
              }
            }
          },
          "204" : {
            "description" : "No Content - No active user exists based on search criteria"
          },
          "409" : {
            "description" : "Conflict - Ex Cache being Loaded"
          },
          "500" : {
            "description" : "Internal Server Error - Something went wrong"
          }
        }
      }
    },
    "/provider-offices/{officeCode}" : {
      "get" : {
        "tags" : [ "Provider Firm Offices" ],
        "summary" : "Get provider(firm) office(site) details based on a provider(firm) office(site) code.",
        "description" : "    Business Rules: - Firm is not end dated.\n                    - Firm is of type Legal Services Provider / Advocate / Chambers.\n                    - Firms of type Individual / QM Provider are NOT considered.\n                    - Firm Office is not end dated.\n                    - This DOES NOT check if a provider office has an active contract.\n",
        "operationId" : "getFirmOffice",
        "parameters" : [ {
          "name" : "officeCode",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Valid provider (firm) office (site) details",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProviderFirmOfficeDto"
                }
              }
            }
          },
          "204" : {
            "description" : "No Content - No valid provider (firm) office (site) exists based on search criteria"
          },
          "409" : {
            "description" : "Conflict - Ex Cache being Loaded"
          },
          "500" : {
            "description" : "Internal Server Error - Something went wrong"
          }
        }
      }
    },
    "/provider-offices/{officeCode}/schedules" : {
      "get" : {
        "tags" : [ "Provider Firm Offices" ],
        "summary" : "Get all provider(firm) office(site) schedule details based on a provider(firm) office(site) code",
        "description" : "    Business Rules: - Firm is not end dated.\n                    - Firm is of type Legal Services Provider / Advocate / Chambers.\n                    - Firms of type Individual / QM Provider are NOT considered.\n                    - Firm Office is not end dated.\n                    - Firm Office contract is active today or active on passed effective date.\n                    - Firm office schedule is active today or active on passed effective date.\n                    - Firm Office contract authorization status is APPROVED and contract status is Open.\n                    - Firm office schedule authorization status is APPROVED and contract status is Open.\n                    - Firm office schedule (for category of law) is not cancelled.\n",
        "operationId" : "getProviderOfficeScheduleDetails",
        "parameters" : [ {
          "name" : "officeCode",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "effectiveDate",
          "in" : "query",
          "description" : "<code>Must be null for production , can specify a contract effective date for testing on lower environments</code>",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "areaOfLaw",
          "in" : "query",
          "description" : "<code>Optional , Area of law</code>",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "List of provider (firm) office contract and schedule details",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProviderFirmOfficeContractAndScheduleDto"
                }
              }
            }
          },
          "204" : {
            "description" : "No Content - No active contracts or schedules exist for the provider (firm) office"
          },
          "409" : {
            "description" : "Conflict - Ex Cache being Loaded"
          },
          "500" : {
            "description" : "Internal Server Error - Something went wrong"
          }
        }
      }
    },
    "/provider-offices/{officeCode}/provider-users" : {
      "get" : {
        "tags" : [ "Provider Firm Offices" ],
        "summary" : "Get all provider(firm) user offices(sites) based on provider(firm) id and user login",
        "description" : "    Business Rules: - Firm is not end dated.\n                    - Firm is of type Legal Services Provider / Advocate / Chambers.\n                    - Firms of type Individual / QM Provider are NOT considered.\n                    - Firm Office is not end dated.\n                    - For the Provider User Office links only create one per Office where the Provider\n                        User has no restrictions (All option), or one for each Office that the User is\n                        restricted to.\n",
        "operationId" : "getFirmOfficeAssociatedUsers",
        "parameters" : [ {
          "name" : "officeCode",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Valid provider (firm) users associated with provider office (site)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProviderFirmOfficeUserListDto"
                }
              }
            }
          },
          "204" : {
            "description" : "No Content - No valid provider (firm) users associated with provider office (site) based on search criteria"
          },
          "409" : {
            "description" : "Conflict - Ex Cache being Loaded"
          },
          "500" : {
            "description" : "Internal Server Error - Something went wrong"
          }
        }
      }
    },
    "/provider-offices/{officeCode}/office-contract-details" : {
      "get" : {
        "tags" : [ "Provider Firm Offices" ],
        "summary" : "Get all provider(firm) office(site) schedule details based on a provider(firm) office(site) code",
        "description" : "    Business Rules: - Firm is not end dated.\n                    - Firm is of type Legal Services Provider / Advocate / Chambers.\n                    - Firms of type Individual / QM Provider are NOT considered.\n                    - Firm Office is not end dated.\n                    - Firm Office contract is active today or active on passed effective date.\n",
        "operationId" : "getProviderOfficeContractDetails",
        "parameters" : [ {
          "name" : "officeCode",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "effectiveDate",
          "in" : "query",
          "description" : "<code>Must be null for production , can specify a contract effective date for testing on lower environments</code>",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Provider (firm) office contract details",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProviderFirmOfficeContractDto"
                }
              }
            }
          },
          "204" : {
            "description" : "No Content - No active contracts exist for the provider (firm) office"
          },
          "409" : {
            "description" : "Conflict - Ex Cache being Loaded"
          },
          "500" : {
            "description" : "Internal Server Error - Something went wrong"
          }
        }
      }
    },
    "/provider-firms" : {
      "get" : {
        "tags" : [ "Provider Firms Endpoints" ],
        "summary" : "Get all providers(firms) [This data is refreshed and cached at midnight]",
        "description" : "    Business Rules: - Firm is not end dated.\n                    - Firm is of type Legal Services Provider / Advocate / Chambers.\n                    - Firms of type Individual / QM Provider are NOT returned.\n",
        "operationId" : "getAllFirms",
        "responses" : {
          "200" : {
            "description" : "List of firms",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProviderFirmListDto"
                }
              }
            }
          },
          "204" : {
            "description" : "No Content - No firms exist"
          },
          "409" : {
            "description" : "Conflict - Ex Cache being Loaded"
          },
          "500" : {
            "description" : "Internal Server Error - Something went wrong"
          }
        }
      }
    },
    "/provider-firms/{firmId}" : {
      "get" : {
        "tags" : [ "Provider Firms Endpoints" ],
        "summary" : "Get provider(firm) details based on provider(firm) id [This data is refreshed and cached at midnight]",
        "description" : "    Business Rules: - Firm is not end dated.\n                    - Firm is of type Legal Services Provider / Advocate / Chambers.\n                    - Firms of type Individual / QM Provider are NOT returned.\n",
        "operationId" : "getProvider",
        "parameters" : [ {
          "name" : "firmId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "exclusiveMinimum" : 0
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Details of provider (firm)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProviderFirmDto"
                }
              }
            }
          },
          "204" : {
            "description" : "No Content - No valid provider (firm) exists based on the search criteria"
          },
          "409" : {
            "description" : "Conflict - Ex Cache being Loaded"
          },
          "500" : {
            "description" : "Internal Server Error - Something went wrong"
          }
        }
      }
    },
    "/provider-firms/{firmId}/provider-users" : {
      "get" : {
        "tags" : [ "Provider Firms Endpoints" ],
        "summary" : "Get all provider(firm) users details associated with a provider(firm)",
        "description" : "    Business Rules: - Firm is not end dated.\n                    - Firm is of type Legal Services Provider / Advocate / Chambers.\n                    - Firms of type Individual / QM Provider are NOT considered.\n                    - User attribute_code is 'ICX_SUPPLIER_ORG_ID'\n                    - User attribute_code of these values ('ICX_HR_PERSON_ID', 'ICX_SUPPLIER_SITE_ID')\n                        are not considered as firm contacts.\n",
        "operationId" : "getActiveProviderUsers",
        "parameters" : [ {
          "name" : "firmId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "exclusiveMinimum" : 0
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "List of active provider (firm) users details",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProviderFirmUserListDto"
                }
              }
            }
          },
          "204" : {
            "description" : "No Content - No active users exist for the provider (firm)"
          },
          "409" : {
            "description" : "Conflict - Ex Cache being Loaded"
          },
          "500" : {
            "description" : "Internal Server Error - Something went wrong"
          }
        }
      }
    },
    "/provider-firms/{firmId}/provider-users/{userLogin}" : {
      "get" : {
        "tags" : [ "Provider Firms Endpoints" ],
        "summary" : "Get a provider(firm) user details based on provider(firm) id and user login",
        "description" : "    Business Rules: - Firm is not end dated.\n                    - Firm is of type Legal Services Provider / Advocate / Chambers.\n                    - Firms of type Individual / QM Provider are NOT considered.\n                    - User attribute_code is 'ICX_SUPPLIER_ORG_ID'\n                    - User attribute_code of these values ('ICX_HR_PERSON_ID', 'ICX_SUPPLIER_SITE_ID')\n                        are not considered as firm contacts.\n",
        "operationId" : "getProviderUserDetails",
        "parameters" : [ {
          "name" : "firmId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "exclusiveMinimum" : 0
          }
        }, {
          "name" : "userLogin",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Details of provider (firm) user",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProviderFirmUserDto"
                }
              }
            }
          },
          "204" : {
            "description" : "No Content - No active user exists based on the search criteria"
          },
          "409" : {
            "description" : "Conflict - Ex Cache being Loaded"
          },
          "500" : {
            "description" : "Internal Server Error - Something went wrong"
          }
        }
      }
    },
    "/provider-firms/{firmId}/provider-users/{userLogin}/user-roles" : {
      "get" : {
        "tags" : [ "Provider Firms Endpoints" ],
        "summary" : "Get all provider(firm) user roles based on a provider(firm) id and user login",
        "description" : "    Business Rules: - Firm is not end dated.\n                    - Firm is of type Legal Services Provider / Advocate / Chambers.\n                    - Firms of type Individual / QM Provider are NOT considered.\n                    - User is not end dated.\n                    - User role assignment are not end dated.\n",
        "operationId" : "getProviderUserRoles",
        "parameters" : [ {
          "name" : "firmId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "exclusiveMinimum" : 0
          }
        }, {
          "name" : "userLogin",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "List of user roles for a provider (firm) user",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProviderFirmUserRoleListDto"
                }
              }
            }
          },
          "204" : {
            "description" : "No Content - No roles exist for the provider (firm) user"
          },
          "409" : {
            "description" : "Conflict - Ex Cache being Loaded"
          },
          "500" : {
            "description" : "Internal Server Error - Something went wrong"
          }
        }
      }
    },
    "/provider-firms/{firmId}/provider-users/{userLogin}/provider-offices" : {
      "get" : {
        "tags" : [ "Provider Firms Endpoints" ],
        "summary" : "Get list of office codes associated with provider(firm) user based on user login",
        "description" : "    Business Rules: - Firm is not end dated.\n                    - Firm is of type Legal Services Provider / Advocate / Chambers.\n                    - Firms of type Individual / QM Provider are NOT considered.\n                    - User attribute_code is 'ICX_SUPPLIER_ORG_ID'\n                    - User attribute_code of these values ('ICX_HR_PERSON_ID', 'ICX_SUPPLIER_SITE_ID')\n                        are not considered as firm contacts.\n",
        "operationId" : "getProviderUsersOffices_1",
        "parameters" : [ {
          "name" : "firmId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "exclusiveMinimum" : 0
          }
        }, {
          "name" : "userLogin",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Details of provider (firm) user office codes",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProviderFirmUserOfficeListDto"
                }
              }
            }
          },
          "204" : {
            "description" : "No Content - No provider (firm) office codes found for the user"
          },
          "409" : {
            "description" : "Conflict - Ex Cache being Loaded"
          },
          "500" : {
            "description" : "Internal Server Error - Something went wrong"
          }
        }
      }
    },
    "/provider-firms/{firmId}/provider-outreach-offices/nms-authorisation" : {
      "get" : {
        "tags" : [ "Provider Firms Endpoints" ],
        "summary" : "Get all provider(firm) offices(sites) details based on a provider(firm) id.",
        "description" : "    Business Rules: - Firm is not end dated.\n                    - Firm is of type Legal Services Provider / Advocate / Chambers.\n                    - Firms of type Individual / QM Provider are NOT considered.\n                    - Firm Office is not end dated.\n                    - This DOES NOT check if a provider office has an active contract.\n",
        "operationId" : "getAllFirmNmsAuthorisationOutreachOffices",
        "parameters" : [ {
          "name" : "firmId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "exclusiveMinimum" : 0
          }
        }, {
          "name" : "effectiveDate",
          "in" : "query",
          "description" : "<code>Optional , Must be null for production , can specify a contract effective date for testing on lower environments</code>",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "List of provider (firm) nms authorisation outreach offices (sites) details for a provider",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProviderFirmNmsAuthorisationOutreachOfficeListDto"
                }
              }
            }
          },
          "204" : {
            "description" : "No Content - No valid provider (firm) nms authorisation outreach offices (sites) exist for the provider (firm)"
          },
          "409" : {
            "description" : "Conflict - Ex Cache being Loaded"
          },
          "500" : {
            "description" : "Internal Server Error - Something went wrong"
          }
        }
      }
    },
    "/provider-firms/{firmId}/provider-outreach-offices/mediation" : {
      "get" : {
        "tags" : [ "Provider Firms Endpoints" ],
        "summary" : "Get all provider(firm) offices(sites) details based on a provider(firm) id.",
        "description" : "    Business Rules: - Firm is not end dated.\n                    - Firm is of type Legal Services Provider / Advocate / Chambers.\n                    - Firms of type Individual / QM Provider are NOT considered.\n                    - Firm Office is not end dated.\n                    - This DOES NOT check if a provider office has an active contract.\n",
        "operationId" : "getAllFirmMediationOutreachOffices",
        "parameters" : [ {
          "name" : "firmId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "exclusiveMinimum" : 0
          }
        }, {
          "name" : "effectiveDate",
          "in" : "query",
          "description" : "<code>Optional , Must be null for production , can specify a contract effective date for testing on lower environments</code>",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "List of provider (firm) mediation outreach offices (sites) details for a provider",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProviderFirmMediationOutreachOfficeListDto"
                }
              }
            }
          },
          "204" : {
            "description" : "No Content - No valid provider (firm) mediation outreach offices (sites) exist for the provider (firm)"
          },
          "409" : {
            "description" : "Conflict - Ex Cache being Loaded"
          },
          "500" : {
            "description" : "Internal Server Error - Something went wrong"
          }
        }
      }
    },
    "/provider-firms/{firmId}/provider-offices" : {
      "get" : {
        "tags" : [ "Provider Firms Endpoints" ],
        "summary" : "Get all provider(firm) offices(sites) details based on a provider(firm) id.",
        "description" : "    Business Rules: - Firm is not end dated.\n                    - Firm is of type Legal Services Provider / Advocate / Chambers.\n                    - Firms of type Individual / QM Provider are NOT considered.\n                    - Firm Office is not end dated.\n                    - This DOES NOT check if a provider office has an active contract.\n",
        "operationId" : "getAllProviderOffices",
        "parameters" : [ {
          "name" : "firmId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "exclusiveMinimum" : 0
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "List of provider (firm) offices (sites) details for a provider",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProviderFirmOfficeListDto"
                }
              }
            }
          },
          "204" : {
            "description" : "No Content - No valid provider (firm) offices (sites) exist for the provider (firm)"
          },
          "409" : {
            "description" : "Conflict - Ex Cache being Loaded"
          },
          "500" : {
            "description" : "Internal Server Error - Something went wrong"
          }
        }
      }
    },
    "/provider-firms/{firmId}/provider-offices/{officeCode}" : {
      "get" : {
        "tags" : [ "Provider Firms Endpoints" ],
        "summary" : "Get provider(firm) office(site) details based on a a provider(firm) id and a provider(firm) office(site) code.",
        "description" : "    Business Rules: - Firm is not end dated.\n                    - Firm is of type Legal Services Provider / Advocate / Chambers.\n                    - Firms of type Individual / QM Provider are NOT considered.\n                    - Firm Office is not end dated.\n                    - This DOES NOT check if a provider office has an active contract.\n",
        "operationId" : "getProviderOfficeDetails",
        "parameters" : [ {
          "name" : "firmId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "exclusiveMinimum" : 0
          }
        }, {
          "name" : "officeCode",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Details of provider (firm) office (site) for a provider (firm)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProviderFirmOfficeDto"
                }
              }
            }
          },
          "204" : {
            "description" : "No Content - No valid provider (firm) office (site) exists based on the search criteria"
          },
          "409" : {
            "description" : "Conflict - Ex Cache being Loaded"
          },
          "500" : {
            "description" : "Internal Server Error - Something went wrong"
          }
        }
      }
    },
    "/provider-firms/{firmId}/provider-offices/{officeCode}/schedules" : {
      "get" : {
        "tags" : [ "Provider Firms Endpoints" ],
        "summary" : "Get all provider(firm) office(site) schedule details based on a provider(firm) id and office(site) code",
        "description" : "    Business Rules: - Firm is not end dated.\n                    - Firm is of type Legal Services Provider / Advocate / Chambers.\n                    - Firms of type Individual / QM Provider are NOT considered.\n                    - Firm Office is not end dated.\n                    - Firm Office contract is active today or active on passed effective date.\n                    - Firm office schedule is active today or active on passed effective date.\n                    - Firm Office contract authorization status is APPROVED and contract status is Open.\n                    - Firm office schedule authorization status is APPROVED and contract status is Open.\n                    - Firm office schedule (for category of law) is not cancelled.\n",
        "operationId" : "getProviderOfficeScheduleDetails_1",
        "parameters" : [ {
          "name" : "firmId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "exclusiveMinimum" : 0
          }
        }, {
          "name" : "officeCode",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "effectiveDate",
          "in" : "query",
          "description" : "<code>Optional , Must be null for production , can specify a contract effective date for testing on lower environments</code>",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "areaOfLaw",
          "in" : "query",
          "description" : "<code>Optional , Area of law</code>",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "List of provider (firm) office contract/schedule details",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProviderFirmOfficeContractAndScheduleDto"
                }
              }
            }
          },
          "204" : {
            "description" : "No Content - No active contracts/schedules exist for the provider (firm) office"
          },
          "409" : {
            "description" : "Conflict - Ex Cache being Loaded"
          },
          "500" : {
            "description" : "Internal Server Error - Something went wrong"
          }
        }
      }
    },
    "/provider-firms/{firmId}/provider-offices/{officeCode}/provider-users" : {
      "get" : {
        "tags" : [ "Provider Firms Endpoints" ],
        "summary" : "Get all provider(firm) user offices(sites) based on provider(firm) id and user login",
        "description" : "    Business Rules: - Firm is not end dated.\n                    - Firm is of type Legal Services Provider / Advocate / Chambers.\n                    - Firms of type Individual / QM Provider are NOT considered.\n                    - Firm Office is not end dated.\n                    - For the Provider User Office links only create one per Office where the Provider\n                        User has no restrictions (All option), or one for each Office that the User is\n                        restricted to.\n",
        "operationId" : "getFirmOfficeAssociatedUsers_1",
        "parameters" : [ {
          "name" : "firmId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "exclusiveMinimum" : 0
          }
        }, {
          "name" : "officeCode",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Valid provider (firm) users associated with provider office (site)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProviderFirmOfficeUserListDto"
                }
              }
            }
          },
          "204" : {
            "description" : "No Content - No valid provider (firm) users associated with provider office (site) based on search criteria"
          },
          "409" : {
            "description" : "Conflict - Ex Cache being Loaded"
          },
          "500" : {
            "description" : "Internal Server Error - Something went wrong"
          }
        }
      }
    },
    "/provider-firms/{firmId}/provider-offices/{officeCode}/office-contract-details" : {
      "get" : {
        "tags" : [ "Provider Firms Endpoints" ],
        "summary" : "Get all provider(firm) office(site) schedule details based on a provider(firm) id and office(site) code",
        "description" : "    Business Rules: - Firm is not end dated.\n                    - Firm is of type Legal Services Provider / Advocate / Chambers.\n                    - Firms of type Individual / QM Provider are NOT considered.\n                    - Firm Office is not end dated.\n                    - Firm Office contract is active today or active on passed effective date.\n",
        "operationId" : "getProviderOfficeContractDetails_1",
        "parameters" : [ {
          "name" : "firmId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "exclusiveMinimum" : 0
          }
        }, {
          "name" : "officeCode",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "effectiveDate",
          "in" : "query",
          "description" : "<code>Optional , Must be null for production , can specify a contract effective date for testing on lower environments</code>",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "paramsContainCcmsIds",
          "in" : "query",
          "description" : "<code>If true, provide ccmsFirmId as firmId and ccmsFirmOfficeId as officeCode</code>",
          "required" : false,
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "List of provider (firm) office contract details",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProviderFirmOfficeContractDto"
                }
              }
            }
          },
          "204" : {
            "description" : "No Content - No active contracts exist for the provider (firm) office"
          },
          "409" : {
            "description" : "Conflict - Ex Cache being Loaded"
          },
          "500" : {
            "description" : "Internal Server Error - Something went wrong"
          }
        }
      }
    },
    "/provider-firms/{firmId}/provider-offices/{officeCode}/bank-account-details" : {
      "get" : {
        "tags" : [ "Provider Firms Endpoints" ],
        "summary" : "Get provider(firm) offices(sites) primary account details based on provider(firm) id and office(site) code",
        "operationId" : "getFirmOfficeBankAccountDetails",
        "parameters" : [ {
          "name" : "firmId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "exclusiveMinimum" : 0
          }
        }, {
          "name" : "officeCode",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Details of provider (firm) office (site) bank accounts",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProviderFirmOfficeBankAccountDto"
                }
              }
            }
          },
          "204" : {
            "description" : "No Content - No bank account details available for the provider (firm) office (site)"
          },
          "409" : {
            "description" : "Conflict - Ex Cache being Loaded"
          },
          "500" : {
            "description" : "Internal Server Error - Something went wrong"
          }
        }
      }
    },
    "/provider-firms/{firmId}/fee-earners" : {
      "get" : {
        "tags" : [ "Provider Firms Endpoints" ],
        "summary" : "Get all active fee earners contacts for a providers(firms)",
        "description" : "    Summary      :    Certain contacts in CWA can be classified as Fee Earners.\n                      This is indicated by a flag set in ATTRIBUTE7 in the table HZ_PARTIES.\n                      Fee Earners in CWA are nothing more than contacts which have been created with\n                        Practitioner fields completed.\n                      These fields indicate the type of Practitioner (Barrister/Solicitor), the\n                        Practitioner Number and Practitioner Start/End dates.\n                      Contacts created with Practitioner Type field as NULL are not Fee Earners.\n    Business Rules: - Firm is not end dated.\n                    - Firm is of type Legal Services Provider / Advocate / Chambers.\n                    - Firms of type Individual / QM Provider are NOT returned.\n                    - Fee Earner is not end dated.\n",
        "operationId" : "getFeeEarners",
        "parameters" : [ {
          "name" : "firmId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "exclusiveMinimum" : 0
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "List of fee earners for a firm",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProviderFirmFeeEarnerListDto"
                }
              }
            }
          },
          "204" : {
            "description" : "No Content - No active fee earner exists for the firm"
          },
          "409" : {
            "description" : "Conflict - Ex Cache being Loaded"
          },
          "500" : {
            "description" : "Internal Server Error - Something went wrong"
          }
        }
      }
    },
    "/provider-firms/sole-practitioners" : {
      "get" : {
        "tags" : [ "Provider Firms Endpoints" ],
        "summary" : "Get all Sole Practitioner providers(firms) [This data is refreshed and cached at midnight]",
        "description" : "    Business Rules: - Firm is not end dated.\n                    - Firm's constitutional status is Sole Practitioner.\n",
        "operationId" : "getAllSolePractitionerFirms",
        "responses" : {
          "200" : {
            "description" : "List of firms",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProviderFirmListDto"
                }
              }
            }
          },
          "204" : {
            "description" : "No Content - No firms exist"
          },
          "409" : {
            "description" : "Conflict - Ex Cache being Loaded"
          },
          "500" : {
            "description" : "Internal Server Error - Something went wrong"
          }
        }
      }
    },
    "/provider-firms/public-defenders" : {
      "get" : {
        "tags" : [ "Provider Firms Endpoints" ],
        "summary" : "Get all Public Defender providers(firms) [This data is refreshed and cached at midnight]",
        "description" : "    Business Rules: - Firm is not end dated.\n                    - Firm's constitutional status is Government Funded Organisation.\n",
        "operationId" : "getAllGovernmentFundedFirms",
        "responses" : {
          "200" : {
            "description" : "List of public defender firms",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProviderFirmListDto"
                }
              }
            }
          },
          "204" : {
            "description" : "No Content - No firms exist"
          },
          "409" : {
            "description" : "Conflict - Ex Cache being Loaded"
          },
          "500" : {
            "description" : "Internal Server Error - Something went wrong"
          }
        }
      }
    },
    "/provider-firms/chambers" : {
      "get" : {
        "tags" : [ "Provider Firms Endpoints" ],
        "summary" : "Get all providers(firms) of type Chambers [This data is refreshed and cached at midnight]",
        "description" : "    Business Rules: - Firm is not end dated.\n                    - Firm is of type Chambers.\n",
        "operationId" : "getAllChamberFirms",
        "responses" : {
          "200" : {
            "description" : "List of firms of type Chambers",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProviderFirmListDto"
                }
              }
            }
          },
          "204" : {
            "description" : "No Content - No firms exist"
          },
          "409" : {
            "description" : "Conflict - Ex Cache being Loaded"
          },
          "500" : {
            "description" : "Internal Server Error - Something went wrong"
          }
        }
      }
    },
    "/provider-firms/advocates" : {
      "get" : {
        "tags" : [ "Provider Firms Endpoints" ],
        "summary" : "Get all providers(firms) of type Advocate [This data is refreshed and cached at midnight]",
        "description" : "    Business Rules: - Firm is not end dated.\n                    - Firm is of type Advocate.\n",
        "operationId" : "getAllAdvocateFirms",
        "responses" : {
          "200" : {
            "description" : "List of firms of type advocate",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProviderFirmListDto"
                }
              }
            }
          },
          "204" : {
            "description" : "No Content - No firms exist"
          },
          "409" : {
            "description" : "Conflict - Ex Cache being Loaded"
          },
          "500" : {
            "description" : "Internal Server Error - Something went wrong"
          }
        }
      }
    },
    "/internal-users" : {
      "get" : {
        "tags" : [ "Internal Users Endpoints" ],
        "summary" : "Get all internal users details from CWA [This data is refreshed and cached at midnight]",
        "description" : "    Business Rules: - Must be an Internal User\n                    - User is not end dated.\n                    - The LSC Area Office of 'Newcastle' should be replaced with 'South Tyneside'.\n",
        "operationId" : "getAllInternalUsers",
        "responses" : {
          "200" : {
            "description" : "List of internal user details",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InternalUser"
                }
              }
            }
          },
          "204" : {
            "description" : "No Content - No internal users exist"
          },
          "409" : {
            "description" : "Conflict - Ex Cache being Loaded"
          },
          "500" : {
            "description" : "Internal Server Error - Something went wrong"
          }
        }
      }
    },
    "/internal-users/{username}" : {
      "get" : {
        "tags" : [ "Internal Users Endpoints" ],
        "summary" : "Get an internal user's details from CWA [This data is refreshed and cached at midnight]",
        "description" : "    Business Rules: - Must be an Internal User\n                    - User is not end dated.\n                    - The LSC Area Office of 'Newcastle' should be replaced with 'South Tyneside'.\n",
        "operationId" : "getInternalUser",
        "parameters" : [ {
          "name" : "username",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Details of the internal user",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InternalUser"
                }
              }
            }
          },
          "204" : {
            "description" : "No Content - No internal user exists"
          },
          "409" : {
            "description" : "Conflict - Ex Cache being Loaded"
          },
          "500" : {
            "description" : "Internal Server Error - Something went wrong"
          }
        }
      }
    },
    "/internal-users/{username}/roles" : {
      "get" : {
        "tags" : [ "Internal Users Endpoints" ],
        "summary" : "Get all internal user role data from CWA",
        "description" : "    Business Rules: - Must be an Internal User\n                    - User is not end dated.\n                    - The LSC Area Office of 'Newcastle' should be replaced with 'South Tyneside'.\n                    - Role assignment is not end dated.\n",
        "operationId" : "getInternalUserRoles",
        "parameters" : [ {
          "name" : "username",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "List of internal user roles",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/InternalUserRoleListDto"
                }
              }
            }
          },
          "204" : {
            "description" : "No Content - No internal user roles exist"
          },
          "409" : {
            "description" : "Conflict - Ex Cache being Loaded"
          },
          "500" : {
            "description" : "Internal Server Error - Something went wrong"
          }
        }
      }
    },
    "/ccms-provider-users/{userUuid}" : {
      "get" : {
        "tags" : [ "Provider Users Endpoints" ],
        "summary" : "Temporary endpoint for CIVIL APPLY ONLY: Get a CCMS provider user details based on user UUID",
        "description" : "Temporary endpoint for CIVIL APPLY ONLY:\n- This endpoint will be removed as soon as it is no longer needed by Civil Apply.",
        "operationId" : "getCcmsProviderUserByUserUuid",
        "parameters" : [ {
          "name" : "userUuid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Details of CCMS provider user",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CcmsProviderUser"
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found - No CCMS provider user exists with the given UUID"
          },
          "409" : {
            "description" : "Conflict - Ex Cache being Loaded"
          },
          "500" : {
            "description" : "Internal Server Error - Something went wrong"
          }
        },
        "deprecated" : true
      }
    },
    "/admin/cache/status" : {
      "get" : {
        "tags" : [ "Admin Controller Endpoints" ],
        "summary" : "Get cache status.",
        "operationId" : "getCacheStatus",
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "*/*" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "OfficeCodesDto" : {
        "type" : "object",
        "properties" : {
          "officeCodes" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }
      },
      "ProviderFirmOffice" : {
        "type" : "object",
        "properties" : {
          "firmOfficeId" : {
            "type" : "integer",
            "format" : "int32"
          },
          "ccmsFirmOfficeId" : {
            "type" : "integer",
            "format" : "int32"
          },
          "firmOfficeCode" : {
            "type" : "string"
          },
          "officeName" : {
            "type" : "string"
          },
          "officeCodeAlt" : {
            "type" : "string"
          },
          "type" : {
            "type" : "string"
          },
          "addressLine1" : {
            "type" : "string"
          },
          "addressLine2" : {
            "type" : "string"
          },
          "addressLine3" : {
            "type" : "string"
          },
          "addressLine4" : {
            "type" : "string"
          },
          "city" : {
            "type" : "string"
          },
          "county" : {
            "type" : "string"
          },
          "postCode" : {
            "type" : "string"
          },
          "dxCentre" : {
            "type" : "string"
          },
          "dxNumber" : {
            "type" : "string"
          },
          "telephoneAreaCode" : {
            "type" : "string"
          },
          "telephoneNumber" : {
            "type" : "string"
          },
          "faxAreaCode" : {
            "type" : "string"
          },
          "faxNumber" : {
            "type" : "string"
          },
          "emailAddress" : {
            "type" : "string"
          },
          "vatRegistrationNumber" : {
            "type" : "string"
          },
          "headOffice" : {
            "type" : "string"
          },
          "creationDate" : {
            "type" : "string",
            "format" : "date"
          },
          "lscRegion" : {
            "type" : "string"
          },
          "lscBidZone" : {
            "type" : "string"
          },
          "lscAreaOffice" : {
            "type" : "string"
          },
          "cjsForceName" : {
            "type" : "string"
          },
          "localAuthority" : {
            "type" : "string"
          },
          "policeStationAreaName" : {
            "type" : "string"
          },
          "dutySolicitorAreaName" : {
            "type" : "string"
          }
        }
      },
      "ProviderFirmOfficeListDto" : {
        "type" : "object",
        "properties" : {
          "firm" : {
            "$ref" : "#/components/schemas/ProviderFirmSummary"
          },
          "offices" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ProviderFirmOffice"
            }
          }
        }
      },
      "ProviderFirmSummary" : {
        "type" : "object",
        "properties" : {
          "firmNumber" : {
            "type" : "string"
          },
          "firmId" : {
            "type" : "integer",
            "format" : "int32"
          },
          "ccmsFirmId" : {
            "type" : "integer",
            "format" : "int32"
          },
          "parentFirmId" : {
            "type" : "integer",
            "format" : "int32"
          },
          "firmName" : {
            "type" : "string"
          },
          "firmType" : {
            "type" : "string"
          },
          "constitutionalStatus" : {
            "type" : "string"
          },
          "solicitorAdvocateYN" : {
            "type" : "string"
          },
          "advocateLevel" : {
            "type" : "string"
          },
          "barCouncilRoll" : {
            "type" : "string"
          },
          "companyHouseNumber" : {
            "type" : "string"
          }
        }
      },
      "ProviderFirmUser" : {
        "type" : "object",
        "properties" : {
          "userId" : {
            "type" : "integer",
            "format" : "int32"
          },
          "ccmsContactId" : {
            "type" : "integer",
            "format" : "int32"
          },
          "userLogin" : {
            "type" : "string"
          },
          "name" : {
            "type" : "string"
          },
          "emailAddress" : {
            "type" : "string"
          },
          "jobTitle" : {
            "type" : "string"
          },
          "phoneNumber" : {
            "type" : "string"
          },
          "startDate" : {
            "type" : "string",
            "format" : "date"
          },
          "attributeCode" : {
            "type" : "string"
          }
        }
      },
      "ProviderFirmUserDto" : {
        "type" : "object",
        "properties" : {
          "firm" : {
            "$ref" : "#/components/schemas/ProviderFirmSummary"
          },
          "user" : {
            "$ref" : "#/components/schemas/ProviderFirmUser"
          },
          "associatedFirms" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ProviderFirmSummary"
            }
          }
        }
      },
      "ProviderFirmOfficeSummary" : {
        "type" : "object",
        "properties" : {
          "firmOfficeId" : {
            "type" : "integer",
            "format" : "int32"
          },
          "ccmsFirmOfficeId" : {
            "type" : "integer",
            "format" : "int32"
          },
          "firmOfficeCode" : {
            "type" : "string"
          },
          "officeName" : {
            "type" : "string"
          },
          "officeCodeAlt" : {
            "type" : "string"
          },
          "type" : {
            "type" : "string"
          }
        }
      },
      "ProviderFirmUserOfficeListDto" : {
        "type" : "object",
        "properties" : {
          "firm" : {
            "$ref" : "#/components/schemas/ProviderFirmSummary"
          },
          "user" : {
            "$ref" : "#/components/schemas/ProviderFirmUserSummary"
          },
          "officeCodes" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ProviderFirmOfficeSummary"
            }
          }
        }
      },
      "ProviderFirmUserSummary" : {
        "type" : "object",
        "properties" : {
          "userId" : {
            "type" : "integer",
            "format" : "int32"
          },
          "ccmsContactId" : {
            "type" : "integer",
            "format" : "int32"
          },
          "userLogin" : {
            "type" : "string"
          },
          "name" : {
            "type" : "string"
          },
          "emailAddress" : {
            "type" : "string"
          }
        }
      },
      "ProviderFirmUserListDto" : {
        "type" : "object",
        "properties" : {
          "firm" : {
            "$ref" : "#/components/schemas/ProviderFirmSummary"
          },
          "users" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ProviderFirmUser"
            }
          }
        }
      },
      "ProviderFirmOfficeDto" : {
        "type" : "object",
        "properties" : {
          "firm" : {
            "$ref" : "#/components/schemas/ProviderFirmSummary"
          },
          "office" : {
            "$ref" : "#/components/schemas/ProviderFirmOffice"
          }
        }
      },
      "FirmOfficeContractAndScheduleDetails" : {
        "type" : "object",
        "properties" : {
          "contractType" : {
            "type" : "string"
          },
          "contractDescription" : {
            "type" : "string"
          },
          "contractNumber" : {
            "type" : "string"
          },
          "contractReference" : {
            "type" : "string"
          },
          "contractStatus" : {
            "type" : "string"
          },
          "contractAuthorizationStatus" : {
            "type" : "string"
          },
          "contractStartDate" : {
            "type" : "string",
            "format" : "date"
          },
          "contractEndDate" : {
            "type" : "string",
            "format" : "date"
          },
          "areaOfLaw" : {
            "type" : "string"
          },
          "scheduleType" : {
            "type" : "string"
          },
          "scheduleNumber" : {
            "type" : "string"
          },
          "scheduleContractNumber" : {
            "type" : "string"
          },
          "scheduleContractReference" : {
            "type" : "string"
          },
          "scheduleAuthorizationStatus" : {
            "type" : "string"
          },
          "scheduleStatus" : {
            "type" : "string"
          },
          "scheduleStartDate" : {
            "type" : "string",
            "format" : "date"
          },
          "scheduleEndDate" : {
            "type" : "string",
            "format" : "date"
          },
          "scheduleLines" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/FirmOfficeContractAndScheduleLine"
            }
          },
          "nmsAuths" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/NmsAuthDetails"
            }
          }
        }
      },
      "FirmOfficeContractAndScheduleLine" : {
        "type" : "object",
        "properties" : {
          "areaOfLaw" : {
            "type" : "string"
          },
          "categoryOfLaw" : {
            "type" : "string"
          },
          "description" : {
            "type" : "string"
          },
          "devolvedPowersStatus" : {
            "type" : "string"
          },
          "dpTypeOfChange" : {
            "type" : "string"
          },
          "dpReasonForChange" : {
            "type" : "string"
          },
          "dpDateOfChange" : {
            "type" : "string"
          },
          "remainderWorkFlag" : {
            "type" : "string"
          },
          "minimumCasesAllowedCount" : {
            "type" : "string"
          },
          "maximumCasesAllowedCount" : {
            "type" : "string"
          },
          "minimumToleranceCount" : {
            "type" : "string"
          },
          "maximumToleranceCount" : {
            "type" : "string"
          },
          "minimumLicenseCount" : {
            "type" : "string"
          },
          "maximumLicenseCount" : {
            "type" : "string"
          },
          "workInProgressCount" : {
            "type" : "string"
          },
          "outreach" : {
            "type" : "string"
          },
          "cancelFlag" : {
            "type" : "string"
          },
          "cancelReason" : {
            "type" : "string"
          },
          "cancelDate" : {
            "type" : "string",
            "format" : "date"
          },
          "closedDate" : {
            "type" : "string",
            "format" : "date"
          },
          "closedReason" : {
            "type" : "string"
          }
        }
      },
      "NmsAuthDetails" : {
        "type" : "object",
        "properties" : {
          "description" : {
            "type" : "string"
          },
          "minMatterStarts" : {
            "type" : "integer",
            "format" : "int32"
          },
          "maxMatterStarts" : {
            "type" : "integer",
            "format" : "int32"
          },
          "authorisedLitigator" : {
            "type" : "string"
          },
          "supervision" : {
            "type" : "string"
          },
          "serviceCombinations" : {
            "type" : "string"
          },
          "typeOfPresence" : {
            "type" : "string"
          },
          "lawSocietyChildrenFlag" : {
            "type" : "string"
          },
          "advLawSocFamVioFlag" : {
            "type" : "string"
          },
          "advLawSocFamNoVioFlag" : {
            "type" : "string"
          },
          "resAccrSpecDomAbuseFlag" : {
            "type" : "string"
          },
          "resAccrSpecOtherFlag" : {
            "type" : "string"
          },
          "consortiaId" : {
            "type" : "string"
          },
          "authorisationStatus" : {
            "type" : "string"
          },
          "withdrawalType" : {
            "type" : "string"
          },
          "withdrawalReason" : {
            "type" : "string"
          },
          "attributeCategory" : {
            "type" : "string"
          }
        }
      },
      "ProviderFirmOfficeContractAndScheduleDto" : {
        "type" : "object",
        "properties" : {
          "firm" : {
            "$ref" : "#/components/schemas/ProviderFirmSummary"
          },
          "office" : {
            "$ref" : "#/components/schemas/ProviderFirmOfficeSummary"
          },
          "pds" : {
            "type" : "boolean"
          },
          "schedules" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/FirmOfficeContractAndScheduleDetails"
            }
          }
        }
      },
      "ProviderFirmOfficeUserListDto" : {
        "type" : "object",
        "properties" : {
          "firm" : {
            "$ref" : "#/components/schemas/ProviderFirmSummary"
          },
          "office" : {
            "$ref" : "#/components/schemas/ProviderFirmOfficeSummary"
          },
          "users" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ProviderFirmUser"
            }
          }
        }
      },
      "FirmOfficeContractDetails" : {
        "type" : "object",
        "properties" : {
          "categoryOfLaw" : {
            "type" : "string"
          },
          "subCategoryLaw" : {
            "type" : "string"
          },
          "authorisationType" : {
            "type" : "string"
          },
          "newMatters" : {
            "type" : "string"
          },
          "contractualDevolvedPowers" : {
            "type" : "string"
          },
          "remainderAuthorisation" : {
            "type" : "string"
          }
        }
      },
      "ProviderFirmOfficeContractDto" : {
        "type" : "object",
        "properties" : {
          "firm" : {
            "$ref" : "#/components/schemas/ProviderFirmSummary"
          },
          "office" : {
            "$ref" : "#/components/schemas/ProviderFirmOfficeSummary"
          },
          "contracts" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/FirmOfficeContractDetails"
            }
          }
        }
      },
      "ProviderFirm" : {
        "type" : "object",
        "properties" : {
          "firmNumber" : {
            "type" : "string"
          },
          "firmId" : {
            "type" : "integer",
            "format" : "int32"
          },
          "ccmsFirmId" : {
            "type" : "integer",
            "format" : "int32"
          },
          "parentFirmId" : {
            "type" : "integer",
            "format" : "int32"
          },
          "firmName" : {
            "type" : "string"
          },
          "firmType" : {
            "type" : "string"
          },
          "constitutionalStatus" : {
            "type" : "string"
          },
          "solicitorAdvocateYN" : {
            "type" : "string"
          },
          "advocateLevel" : {
            "type" : "string"
          },
          "barCouncilRoll" : {
            "type" : "string"
          },
          "companyHouseNumber" : {
            "type" : "string"
          },
          "indemnityReceivedDate" : {
            "type" : "string"
          },
          "highRiskSupplier" : {
            "type" : "string"
          },
          "holdAllPaymentsFlag" : {
            "type" : "string"
          },
          "holdReason" : {
            "type" : "string"
          },
          "nonProfitOrganisation" : {
            "type" : "string"
          },
          "smallBusinessFlag" : {
            "type" : "string"
          },
          "womenOwnedFlag" : {
            "type" : "string"
          },
          "websiteUrl" : {
            "type" : "string"
          }
        }
      },
      "ProviderFirmListDto" : {
        "type" : "object",
        "properties" : {
          "firms" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ProviderFirm"
            }
          }
        }
      },
      "ProviderFirmDto" : {
        "type" : "object",
        "properties" : {
          "firm" : {
            "$ref" : "#/components/schemas/ProviderFirm"
          }
        }
      },
      "AssignedApplicationRoles" : {
        "type" : "object",
        "properties" : {
          "applicationName" : {
            "type" : "string"
          },
          "roles" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/RoleDetails"
            }
          }
        }
      },
      "ProviderFirmUserRoleListDto" : {
        "type" : "object",
        "properties" : {
          "firm" : {
            "$ref" : "#/components/schemas/ProviderFirmSummary"
          },
          "user" : {
            "$ref" : "#/components/schemas/ProviderFirmUserSummary"
          },
          "applicationRoles" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/AssignedApplicationRoles"
            }
          }
        }
      },
      "RoleDetails" : {
        "type" : "object",
        "properties" : {
          "name" : {
            "type" : "string"
          },
          "role" : {
            "type" : "string"
          }
        }
      },
      "NmsAuthorisationOutreachOffice" : {
        "type" : "object",
        "properties" : {
          "vendorSiteCode" : {
            "type" : "string"
          },
          "address1" : {
            "type" : "string"
          },
          "address2" : {
            "type" : "string"
          },
          "address3" : {
            "type" : "string"
          },
          "postCode" : {
            "type" : "string"
          },
          "startDate" : {
            "type" : "string",
            "format" : "date"
          },
          "endDate" : {
            "type" : "string",
            "format" : "date"
          },
          "creationDate" : {
            "type" : "string",
            "format" : "date"
          },
          "outreachLocId" : {
            "type" : "integer",
            "format" : "int64"
          },
          "additionalAgreements" : {
            "type" : "string"
          },
          "frequency" : {
            "type" : "string"
          },
          "authNewMatterStarts" : {
            "type" : "integer",
            "format" : "int32"
          }
        }
      },
      "NmsAuthorisationParttimeOffice" : {
        "type" : "object",
        "properties" : {
          "vendorSiteCode" : {
            "type" : "string"
          },
          "address1" : {
            "type" : "string"
          },
          "address2" : {
            "type" : "string"
          },
          "address3" : {
            "type" : "string"
          },
          "postCode" : {
            "type" : "string"
          },
          "startDate" : {
            "type" : "string",
            "format" : "date"
          },
          "endDate" : {
            "type" : "string",
            "format" : "date"
          },
          "creationDate" : {
            "type" : "string",
            "format" : "date"
          },
          "parttimeLocId" : {
            "type" : "integer",
            "format" : "int64"
          }
        }
      },
      "ProviderFirmNmsAuthorisationOutreachOfficeListDto" : {
        "type" : "object",
        "properties" : {
          "firm" : {
            "$ref" : "#/components/schemas/ProviderFirmSummary"
          },
          "nmsAuthorisationOffices" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/NmsAuthorisationOutreachOffice"
            }
          },
          "nmsAuthorisationParttimeOffices" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/NmsAuthorisationParttimeOffice"
            }
          }
        }
      },
      "MediationOutreachOffice" : {
        "type" : "object",
        "properties" : {
          "vendorSiteCode" : {
            "type" : "string"
          },
          "outreachLocNumCode" : {
            "type" : "string"
          },
          "address1" : {
            "type" : "string"
          },
          "address2" : {
            "type" : "string"
          },
          "address3" : {
            "type" : "string"
          },
          "postCode" : {
            "type" : "string"
          },
          "outreachLocStatus" : {
            "type" : "string"
          },
          "retirementReason" : {
            "type" : "string"
          },
          "effectiveFromDate" : {
            "type" : "string",
            "format" : "date"
          },
          "effectiveToDate" : {
            "type" : "string",
            "format" : "date"
          },
          "attributeCategory" : {
            "type" : "string"
          }
        }
      },
      "ProviderFirmMediationOutreachOfficeListDto" : {
        "type" : "object",
        "properties" : {
          "firm" : {
            "$ref" : "#/components/schemas/ProviderFirmSummary"
          },
          "mediationOutreachOffices" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/MediationOutreachOffice"
            }
          }
        }
      },
      "ProviderFirmOfficeBankAccountDetails" : {
        "type" : "object",
        "properties" : {
          "vendorSiteId" : {
            "type" : "integer",
            "format" : "int64"
          },
          "bankName" : {
            "type" : "string"
          },
          "bankBranchName" : {
            "type" : "string"
          },
          "sortCode" : {
            "type" : "string"
          },
          "accountNumber" : {
            "type" : "string"
          },
          "bankAccountName" : {
            "type" : "string"
          },
          "currencyCode" : {
            "type" : "string"
          },
          "accountType" : {
            "type" : "string"
          },
          "primaryFlag" : {
            "type" : "string"
          },
          "addressLine1" : {
            "type" : "string"
          },
          "addressLine2" : {
            "type" : "string"
          },
          "addressLine3" : {
            "type" : "string"
          },
          "city" : {
            "type" : "string"
          },
          "county" : {
            "type" : "string"
          },
          "country" : {
            "type" : "string"
          },
          "zip" : {
            "type" : "string"
          }
        }
      },
      "ProviderFirmOfficeBankAccountDto" : {
        "type" : "object",
        "properties" : {
          "firm" : {
            "$ref" : "#/components/schemas/ProviderFirmSummary"
          },
          "office" : {
            "$ref" : "#/components/schemas/ProviderFirmOfficeSummary"
          },
          "accountDetails" : {
            "$ref" : "#/components/schemas/ProviderFirmOfficeBankAccountDetails"
          }
        }
      },
      "FeeEarner" : {
        "type" : "object",
        "properties" : {
          "subjectId" : {
            "type" : "string"
          },
          "firstName" : {
            "type" : "string"
          },
          "lastName" : {
            "type" : "string"
          },
          "emailAddress" : {
            "type" : "string"
          },
          "practitionerType" : {
            "type" : "string"
          },
          "practitionerNumber" : {
            "type" : "string"
          },
          "practitionerStartDate" : {
            "type" : "string"
          },
          "practitionerEndDate" : {
            "type" : "string"
          },
          "department" : {
            "type" : "string"
          },
          "firmOfficeCodes" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }
      },
      "ProviderFirmFeeEarnerListDto" : {
        "type" : "object",
        "properties" : {
          "firm" : {
            "$ref" : "#/components/schemas/ProviderFirmSummary"
          },
          "feeEarners" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/FeeEarner"
            }
          }
        }
      },
      "InternalUser" : {
        "type" : "object",
        "properties" : {
          "username" : {
            "type" : "string"
          },
          "fullname" : {
            "type" : "string"
          },
          "jobTitle" : {
            "type" : "string"
          },
          "emailAddress" : {
            "type" : "string"
          },
          "lscAreaOffice" : {
            "type" : "string"
          },
          "enrolmentDate" : {
            "type" : "string",
            "format" : "date"
          }
        }
      },
      "InternalUserRoleListDto" : {
        "type" : "object",
        "properties" : {
          "user" : {
            "$ref" : "#/components/schemas/InternalUser"
          },
          "applicationRoles" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/AssignedApplicationRoles"
            }
          }
        }
      },
      "CcmsProviderUser" : {
        "type" : "object",
        "properties" : {
          "userUuid" : {
            "type" : "string"
          },
          "userLogin" : {
            "type" : "string"
          },
          "ccmsContactId" : {
            "type" : "integer",
            "format" : "int32"
          }
        }
      }
    },
    "securitySchemes" : {
      "ApiKeyAuth" : {
        "type" : "apiKey",
        "name" : "X-Authorization",
        "in" : "header"
      }
    }
  }
}