spring:
  application:
    name: laa-data-claims-event-service

  threads:
    virtual:
      enabled: true

  cloud:
    aws:
      sqs:
        queue-not-found-strategy: fail
      region:
        static: ${AWS_REGION}

logging:
  level:
    uk.gov.justice.laa.dstew.payments.claimsevent: ${APPLICATION_LOGGING_LEVEL:INFO}

# used by actuator info endpoint
info:
  app:
    name: laa-data-claims-event-service
    description: laa-data-claims-event-service application that provides a REST API.
    version: 1.0.0

server:
  port: 8085

management:
  server:
    port: 8081

  # specify actuator endpoints to enable
  endpoints:
    web:
      exposure:
        include: health, info, prometheus

  # show detailed health status
  endpoint:
    health:
      show-details: always

sentry:
  dsn: ${SENTRY_DSN:}
  environment: ${SENTRY_ENVIRONMENT:local}
  traces-sample-rate: ${SENTRY_TRACES_SAMPLE_RATE:1}
  send-default-pii: false
  logging:
    minimum-event-level: error
    minimum-breadcrumb-level: info

laa:
  provider-details-api:
    host: ${PROVIDER_DETAILS_API_HOSTNAME}
    url: ${laa.provider-details-api.host}
    accessToken: ${PROVIDER_DETAILS_API_ACCESS_TOKEN}
  claims-api:
    host: ${CLAIMS_API_HOSTNAME}
    url: ${laa.claims-api.host}
    accessToken: ${CLAIMS_API_ACCESS_TOKEN}
  fee-scheme-platform-api:
    host: ${FEE_SCHEME_PLATFORM_API_URL}
    url: ${laa.fee-scheme-platform-api.host}
    accessToken: ${FEE_SCHEME_PLATFORM_API_ACCESS_TOKEN}
  bulk-claim-queue:
    name: ${BULK_CLAIM_QUEUE_NAME}
    visibility-timeout-seconds: 600
    visibility-extension-interval-seconds: 10

submission:
  validation:
    minimum-period: ${SUBMISSION_VALIDATION_MINIMUM_PERIOD:APR-2025}

resilience4j.retry:
  instances:
    pdaRetry:
      maxAttempts: 5
      waitDuration: 500ms
      enableExponentialBackoff: true
      exponentialBackoffMultiplier: 2
      exponentialMaxWaitDuration: 5s
      enableRandomizedWait: true
      randomizedWaitFactor: 0.5
      retry-exceptions:
        - java.lang.RuntimeException